<!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About
                    <small>Subheading</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="/assets/about.jpg" alt="">
            </div>
            <div class="col-md-6">
                <h2>About Modern Business</h2>
                <p>Express-Repair has nearly 20 locations in the Ireland. Each of our locations is staffed with professionally trained, Smartphone Technicians that provide the High Quality and Timely Services our customers have grown to respect and appreciate.</p>
                <p>Express-Repair locations are conveniently located within Shopping Centers. We understand how busy life can be and we take great pride in performing most services “WHILE YOU SHOP!”</p>
                <p>At Express-Repair, our professionally trained, Expert Smartphone Technicians perform most repair services on your Smartphone onsite in our store. Not only does this allow for high quality services to be completed in a more timely fashion, it also provides our customers with the added protection and peace of mind from concerns regarding the risk of a valuable or sentimental possession becoming tampered with, stolen or lost.</p>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Express-Repair 2016</p>
                    
		            	
                </div>
            </div>
        </footer>
    </div>
        
        