<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
</head>
<body>
<div class="container">
<!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <!--<img src="http://abscellular.com/images/cellphone3.jpg" alt="Banner">-->
            
        </header>
<!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    The Smart Way to Repair your Device
                </h1>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> Pickup and Return</h4>
                    </div>
                    <div class="panel-body">
						<img src="/assets/image4.jpg" alt="" style="width:100px;height:100px;">
						
                        <p>Sameday Service</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Walk-in Service</h4>
                    </div>
                    <div class="panel-body">
						<img src="assets/image5.jpg" alt="" style="width:100px;height:100px;">
                        <p>Open 8am to 6pm</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Mail Your Device</h4>
                    </div>
                    <div class="panel-body">
						<img src="assets/image6.jpg" alt="" style="width:100px;height:100px;">
                        <p>Send it to us</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Most Popular Repairs</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="#">
                    <img class="img-responsive img-portfolio img-hover" src="assets/image7.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="#">
                    <img class="img-responsive img-portfolio img-hover" src="assets/image8.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="#">
                    <img class="img-responsive img-portfolio img-hover" src="assets/image9.jpg" alt="">
                </a>
            </div>
            <!--<div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="">
                </a>
            </div>-->
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Models We Support</h2>
            </div>
            <div class="col-md-6">
                <p><strong>iPhone:</strong></p>
                <ul>
                    <li>6 Plus</li>
                    <li>6</li>
                    <li>5s</li>
                    <li>5c</li>
                    <li>5</li>
					<li>4S</li>
					<li>4</li>
                </ul>
				
				<p><strong>Samsung Galaxy:</strong></p>
                <ul>
                    <li>Note</li>
                    <li>Note 2</li>
                    <li>Note 3</li>
                    <li>Note 4</li>
                    <li>S3</li>
					<li>S4</li>
					<li>S5</li>
					<li>S6</li>
                </ul>
             </div>
			
            <div class="col-md-6">
                <img class="img-responsive" src="assets/image10.png" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Express-Repair 2016</p>
                </div>
            </div>
        </footer>

    </div>
</body>