<div class= "container">
    
    
    <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Services
                    <small>Subheading</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">Services</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Image Header -->
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="assets/image11.jpg" alt="">
            </div>
        </div>
        <!-- /.row -->
        
        <h1><span style="color: #0c9eef; line-height: 1.2; font-size: 32px; font-weight: 200; padding-top: 20px;">Business Services</span></h1>
        <p class="lead">Express-Repair Business Services reduces the cost of supporting, repairing and maintaining your organization’s smartphones, tablets and computer devices. Our program is designed for businesses, educational institutions, governnment or any organization with technology devices.</p>
        <p class="lead">Repairing rather than replacing devices makes perfect business sense. Express-Repair provide solutions for many leading companies in Ireland. Working with your company’s IT staff, we fix most device issues in under 60 minutes.<br><br> We minimize the impact on the business user and remove the hassle of setting up replacement devices.</p>
        <p class="lead">We also offer free evaluations on any device, for any issue, allowing you to make decisions fast. Our business service is extremely quick and efficient, giving you more time to focus on your business.</p>
        <h1><span style="color: #0c9eef; line-height: 1.2; font-size: 28px; font-weight: 200; padding-top: 20px;">Lifetime Warranty, Premium Parts</span></h1>
        <p><span>We're confident in the quality of our services, which is why they're covered with a lifetime warranty on all parts.</span></p>
        <p> </p>
        <h1><span style="color: #0c9eef; line-height: 1.2; font-size: 28px; font-weight: 200; padding-top: 20px;">Save Money Having Devices Fixed</span></h1>
        <h4>Low cost</h4>
        <p>Repair damaged devices at a fraction of the cost of replacement.</p>
        <h4>Insurance</h4>
        <p class="lead">Does your business buy insurance for each device? Your business or school could be saving a significant amount of money opting for individual repairs instead of insurance.<br><br></p>
        <hr>
        
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Express-Repair 2016</p>
                </div>
            </div>
        </footer>
    
</div>