.jumbotron {
    
    background-image: url("http://abscellular.com/images/cellphone3.jpg");
    height: 430px;
  	background-repeat: no-repeat;
  	background-size: cover
}

body { padding-top: 70px; }

 .price {
      color: #44a;
      font-weight: bold;
      margin-right: 3em;
     
 }



