

<h1>Smartphones</h1>
<table class="table table-striped">
  
  <thead>
    <tr>
      <th>Image</th>
      <th>Model</th>
      <th>Description</th>
      <th>Store</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= image_tag(product.image_url, class: 'list_image') %></td>
        <td><%= product.title %></td>
        <td><%= truncate(strip_tags(product.description),
               length: 80) %></td>
        <td>
          <%= link_to 'Show', product, :class => 'btn btn-success'%> 
          <%= link_to 'Edit', edit_product_path(product), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', product_path(product), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>

<%= link_to 'New product', new_product_path, :class => 'btn btn-primary' %>