<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<div class="row">
    <div class="col-lg-12">
      <h3>Samsung</h3>
    </div>
</div>

<div class="row text-center">
<% @products.each do |product| %>
<div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <%= image_tag(product.image_url) %>
                    <div class="caption">
                        <h3><%= product.title %></h3>
                        <%= sanitize(product.description) %>
                        <p class="price"><%= number_to_currency(product.price)%></p>
                        <p>
                           <%= button_to 'Add to Cart', line_items_path(product_id: product), {:class => "btn btn-primary" } %>
                        </p>
                    </div>
                </div>
            </div>
<% end %>
</div>
