<!DOCTYPE html>
<html>
  <head>
    <title>ExpressRepair</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class='<%= controller.controller_name %>'>
    
    <%= render 'shared/navbar' %>
    
    <div class="main-page-content <%= controller.controller_name %>" >
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
    

  </body>
</html>
